@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
</head>
<body>
    <div>
       @ViewBag.Greeting. Let's start new life from view. 
        <p>Pisze tutaj zeby cos bylo
        (CHYBA)
        </p>
        @Html.ActionLink("Wyslij notke", "NoteForm")
    </div>
</body>
</html>
