@model BLOG.Models.SimpleNote

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoteForm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>Nazwa uzytkownika : @Html</p>
    }
</body>
</html>
